

.header
    display: grid
    grid-template-columns: 50% 50%
    width: 100%
    height: 100%

.img-back
    background: url('../img/background.svg')
    background-repeat: no-repeat
    background-size: cover
    background-position: right
    height: 451px
    

// MEDIA QUERIES
//MÓVILES
@media screen and (max-width: 540px)
    .header
        display: grid
        grid-template-columns: 1 100%

    .img-back
        display: none
